.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.tcolor{
    color: blue;
}

.bulbon{
    background-color: yellow;
    /* color: yellow; */
}

.bulboff{
    background-color: black;
    color: white;
}